* {
    padding: 0;
    margin: 0;
    background-color: ghostwhite;
    font-family: 'Commissioner', sans-serif;
}

body {
    height: 100vh;
}

/* pop up content */

#popup-container {
    height: 20%;
    position: fixed;
    top: 30%;
    left: 10%;
    width: 80%;
    /* height: 30%; */
    z-index: 1;
    display: none;
    border-radius: 20%;
}

.popup {
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10%;
    box-shadow: 0px 8px 28px 10px rgba(0, 0, 0, 0.27);
}

#result {
    height: 50px;
    line-height: 50px;
    font-size: 1.3em;
    background-color: transparent;
}

#comment {
    height: 50px;
    padding: 0 2%;
    background-color: transparent;
}

.face-img img {
    height: 50px;
    width: 50px;
    padding-top: 20%;
    background-color: transparent;
}

#happyFace {
    display: none;
}

#sadFace {
    display: none;
}

#close-btn-div, #close-btn {
    background-color: teal;
    border: transparent;
    padding: 2px 20px;
    margin: 2% 0;
    z-index: 2;
}

/* title */

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title p {
    padding: 20px 0;
}

.title h1 {
    font-size: 0.9em;
    padding: 10px 0;
    color: #6262a1;
}

/* quiz container */

#countryNameContainer {
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
}

.option, .button-container {
    font-size: 1.3em;
    background: transparent;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10%;
    /* padding: 1rem; */
    padding-bottom: 50%;
    padding-top: 50%;
    box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.16);
}
.option:hover {
    background-color: #84ace160;
}
.lows {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 2fr));
    grid-gap: 1rem;
    margin: 1rem 1rem;
}

.next-btn {
    align-items: center;
    background: transparent;
    border: transparent;
    color: white;
    font-size: 1.2em;
}

.button-container {
    background: linear-gradient(to right, #7f7fd5, #86a8e7, #74c0bb);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media only screen and (min-width: 500px) {

    .lows {
        display: grid;
        grid-template-columns: repeat(2, minmax(100px, 1fr));
        grid-gap: 1rem;
        margin: 1rem 1rem;
    }
    .option, .button-container {
        font-size: 1.3em;
        background: white;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-radius: 10%;
        padding-bottom: 50%;
        padding-top: 50%;  
    }
    .button-container {
        background: linear-gradient(to right, #7f7fd5, #86a8e7, #74c0bb);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }
}

/* footer */

footer {
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}