* {
    padding: 0;
    margin: 0;
    font-family: 'Commissioner', sans-serif;
}

body {
    height: 100vh;
    background-image: url(./img/clay-banks-b5S4FrJb7yQ-unsplash.jpg);
    background-size: auto 100%;
    background-repeat: no-repeat;
    background-color: #2B302E;
}

/* pop up content */

#popup-container {
    width: 100%;
    height: 100vh;
    z-index: 1;
    display: none;
    position: absolute;
}

.popup {
    margin: auto;
    margin-top: 30%;
    width: 40vh;
    height: 40%;
    background: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 10%;
    box-shadow: 0px 8px 28px 10px rgba(0, 0, 0, 0.27);
}

#result {
    height: 50px;
    line-height: 50px;
    font-size: 1.3em;
    background-color: transparent;
}

#comment {
    height: 50px;
    padding: 0 2%;
    background-color: transparent;
}

.face-img img {
    height: 90px;
    width: auto;
    padding-top: 20%;
    background-color: transparent;
}

#happyFace {
    display: none;
}

#sadFace {
    display: none;
}

#close-btn-div, #close-btn {
    background-color: teal;
    border: transparent;
    padding: 2px 20px;
    margin: 2% 0;
    z-index: 2;
}

/* title */

.title {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title p {
    padding: 20px 0;
    color: lightgrey;
}

.title h1 {
    font-size: 0.9em;
    padding: 10px 0;
    color: #6262a1;
}

/* quiz container */

#countryNameContainer {
    font-size: 1.6em;
    font-weight: bold;
    text-align: center;
    padding: 10px 0 40px 0;
    color: white;
}

.option, .button-container {
    background-color: white;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 4%;
    height: 100%;
    font-size: 1.3em;
    border-radius: 10%;
    box-shadow: 10px 10px 24px 0px rgba(0, 0, 0, 0.16);
}

.option:hover {
    background-color: #84ace160;
}

.lows {
    /* background-color: brown; */
    display: flex;
    width: 100vw;
    height: 40vw;
    justify-content: center;
    align-items: center;
    margin-bottom: 10%;
}

.next-btn {
    align-items: center;
    background: transparent;
    border: transparent;
    color: white;
    font-size: 1.2em;
}

.button-container {
    background: linear-gradient(to right, #7f7fd5, #86a8e7, #74c0bb);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

@media only screen and (min-width: 530px) {
    body {
        background-image: url(./img/juliana-kozoski-IoQioGLrz3Y-unsplash.jpg);
        background-size: auto 100%;
        background-repeat: no-repeat;
        background-color: #0E1714;
    }
}

@media only screen and (min-width: 650px) {
    .quiz-options-container {
        display: flex;
        flex-direction: row;
    }
    .lows {
        width: 100vw;
        height: 25vw;
        justify-content: center;
        align-items: center;
        margin: 5% 0;
    }
}

@media only screen and (max-width: 380px) {
    .option, .button-container {
        font-size: 0.8em;
    }
}

/* footer */

footer {
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}